<!-- <input type="text" #box /> -->

                   <!-- interpoletion -->

<h1>{{title}}</h1>

<!-- <button (click)="getval(box.value)" >save</button> -->
<!-- (keyup) = "getval($event.target.value)  " -->

                    <!-- interpoletion -->

<!-- <h2>
  {{currentval}}
</h2> -->


                  <!-- property binding -->

<!-- <h1>property binding</h1> -->

                    <!-- interpoletion -->

<!-- <input type="text" [disabled]="disabledBox" [value]="name" /> -->
<!-- <br><br> -->

                    <!-- property binding -->

<!-- <input type="text" disabled={{disabledBox}} value={{name}} /> -->

<!-- <br><br> -->
<!-- <button (click)="enableBox()" > Enable text box</button> -->


                      <!-- if else statement / condition statement -->

<!-- <h1>conditions in angular</h1> -->

<!-- <h1 *ngIf="show true else elseBlock "> -->
<!-- <h1 *ngIf="show=='yes' else elseBlock "> -->
<!-- 
  <h1 *ngIf="show=='yes'; then ifBlock else : elseBlock ">

  </h1>
<ng-template #ifBlock>
  <h1>if block</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>else block</h1>
</ng-template> -->

<!-- <ng-template [ngIf] = "show== 'red' ">
  <h1 style="color: red;">red block</h1>

</ng-template>

<ng-template [ngIf] = "show== 'green' ">
  <h1 style="color: green;">green block</h1>
</ng-template>

<ng-template [ngIf] = "show== 'yellow' ">
  <h1 style="color: yellow;"> yellow block</h1>
</ng-template> -->


                <!-- switch case in angular -->

  <!-- <div [ngSwitch]="color">
  <h1  style="color: red;" *ngSwitchCase= "'red'" > red </h1>
  <h1 style="color: green;" *ngSwitchCase= "'green'" > red </h1>
  <h1 style="color: yellow;" *ngSwitchCase= "'yellow'" > red </h1>
  <h1 style="color: blue;" *ngSwitchCase= "'blue'" > red </h1>
  </div> -->

        <!-- ng for loop  -->

        <!-- <h4 *ngFor="let item of data" >
          {{item.name}}
          {{item.age}}
        </h4> -->
<!-- 
        <table border="1">
          <tr>
            <td>name</td>
            <td>age</td>
            <td>email</td>
          </tr>
          <tr *ngFor="let item of data">
          <td> {{item.name}} </td>
          <td> {{item.age}} </td>
          <td> {{item.email}} </td>
          </tr>
        </table> -->

        <!-- FORMS -->
<!-- 
        <form #simpleForm="ngForm" (ngSubmit)="getUserValue(simpleForm.value)" >
          <input type="text" ngModel name="username" placeholder="enter name"><br><br>
          <input type="text" ngModel name="age" placeholder="enter age"><br><br>
          <input type="text" ngModel name="email" placeholder="enter email"><br><br>
          <input type="password" ngModel name="password" placeholder="enter password"><br><br>

          <button>get user value</button>
        </form> -->

        <!-- style binding -->

        <!-- <h1 style="color: red;" > red 1</h1>
        <h1 [style.color] = "'green'" > green 1</h1>
         -->
        <!-- property styling -->
        <!-- <h1 [style.color] = "color" >dynamic style</h1> -->

        <!-- <button (click)="updateColor()" >update color</button>  -->

          <!-- conditional styling -->

        <!-- <h1 [style.color] = " err? 'red' : 'green' " >conditional styling</h1>
 -->

 <!-- <app-users [hero] = "data" ></app-users> -->


<!--  resuable component -->

 <!-- <div *ngFor="let data of users" >
  <app-users [hero] = "data" ></app-users>
 </div> -->

<!-- 
<router-outlet></router-outlet> -->